html {
  font-size: 0.8rem;
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1rem;
  }
}

.btn-primary {
  color: color-yiq(theme-color("dark")); // returns `color: #fff`
}

.btn-outline-primary {
  @include hover-focus {
    color: color-yiq(theme-color("dark")); // returns `color: #fff`
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: color-yiq(theme-color("dark")); // returns `color: #fff`
  }
}

.header {
  background: white;

  @include media-breakpoint-down(lg) {
    background: $primary;
  }

  &-index {
    @include media-breakpoint-down(lg) {
      background: transparent url("../img/bg-navbar-mobile.png") no-repeat
        center top;
      background-size: cover;
    }
  }

  .form-search-mobile {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    right: 0;
    z-index: $zindex-fixed;

    .btn {
      background-color: $input-bg;
      background-clip: padding-box;
      border: $input-border-width solid $input-border-color;
      border-left: unset;
      color: $primary;
    }
  }
}

.navbar {
  @include media-breakpoint-down(lg) {
    .navbar-brand {
      margin-right: unset;
      text-align: center;

      img {
        width: 60%;
      }
    }

    .img-user {
      width: 33px;
      height: 33px;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 10rem;
    }
  }

  .navbar-toggler {
    border: unset;
    padding: unset;
    color: white;
  }

  .navbar-nav {
    .nav-item {
      &:last-child .nav-link {
        padding-right: 0.5rem;
      }

      .nav-link {
        color: $body-color;
        font-size: 1.25rem;
        padding-right: 1.5rem;

        @include hover-focus-active {
          color: $primary;
        }
      }
    }

    .active {
      .nav-link {
        color: $primary;
      }
    }
  }

  &-top {
    background-color: $primary;
    color: rgba(white, 0.75);
    padding: 0.25rem 0;

    a {
      color: rgba(white, 0.75);

      @include hover-focus-active {
        color: white;
      }
    }
  }
}

#mainSlide {
  z-index: 1;

  @include media-breakpoint-down(md) {
    .carousel-indicators,
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      display: none;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }

  .carousel-control-prev-icon {
    background: rgba(white, 0.5) url("../img/icon-arrow-left.png") no-repeat
      center center;
    background-size: auto 60%;
  }

  .carousel-control-next-icon {
    background: rgba(white, 0.5) url("../img/icon-arrow-right.png") no-repeat
      center center;
    background-size: auto 60%;
  }
}

.card {
  box-shadow: $box-shadow-sm;
  border-color: #eee;
  @include transition($transition-base);

  &:hover {
    box-shadow: $box-shadow;
    @include transition($transition-base);
  }

  &-img-hover {
    overflow: hidden;
    position: relative;
    background-color: $primary;
    background-clip: padding-box;

    img {
      height: 100%;
      object-fit: cover;
      @include transition($transition-base);
    }

    &:hover {
      img {
        opacity: 0.75;
        -moz-transform: scale(1.1) rotate(2deg);
        -webkit-transform: scale(1.1) rotate(2deg);
        -o-transform: scale(1.1) rotate(2deg);
        -ms-transform: scale(1.1) rotate(2deg);
        transform: scale(1.1) rotate(2deg);
        @include transition($transition-base);
      }
    }
  }

  &-h-100 {
    height: calc(100% - 1.5rem);
    margin-bottom: 1.5rem;
  }

  &-frame {
    position: relative;

    .card-tag {
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: small;
      padding: 0.25rem 1rem;
    }
  }
}

.block-with-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.nav-bottom {
  background: transparent url("../img/bg-nav-bottom.png") no-repeat center
    center;
  background-size: cover;
  text-align: center;
  padding: 6rem 0;

  img {
    margin-bottom: 1.5rem;
    height: 82px;
    object-fit: contain;
  }

  h5 {
    color: $body-color;
  }
}

.section {
  &-title {
    color: $primary;

    @include media-breakpoint-down(md) {
      color: $body-color;
    }
  }

  &-recommended {
    background-color: $light;

    .card {
      height: calc(100% - 1.5rem);
      margin-bottom: 1.5rem;

      &-img-top {
        border-radius: unset;
      }

      p {
        margin-bottom: 0.25rem;
      }

      @include media-breakpoint-down(xs) {
        .card-tag {
          font-size: 7px;
        }

        .card-body {
          padding: 1rem 0.5rem;
        }

        h4 {
          font-size: 17px;
        }

        h5 {
          font-size: 12px;
        }

        p {
          font-size: 8px;
        }
      }
    }
  }

  &-for-you {
    .card {
      height: calc(100% - 1.5rem);
      margin-bottom: 1.5rem;

      &-img-top {
        border-radius: unset;
      }
    }
  }

  &-event {
    background-color: $light;

    .card {
      &-event {
        height: calc(100% - 1.5rem);
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
        overflow: hidden;

        .card-img {
          // height: 336px;
          object-fit: cover;
        }

        &-hilight {
          color: $body-color;

          .card {
            &-img {
              border-radius: 0.5rem;
            }

            &-title {
              color: $body-color;
            }

            &-subtitle {
              color: $primary;
            }

            &-text {
              color: $body-color;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
            }
          }
        }

        .card-img-overlay {
          display: -ms-flexbox !important;
          display: flex !important;
          -ms-flex-direction: column !important;
          flex-direction: column !important;
          -ms-flex-pack: justify !important;
          justify-content: space-between !important;
          background-color: rgba(black, 0.1);
          @include transition($transition-base);

          ul {
            opacity: 0;
          }

          &:hover {
            ul {
              opacity: 1;
            }

            background-color: rgba($primary, 0.9);
            @include transition($transition-base);
          }

          a {
            color: white;
          }

          @include media-breakpoint-down(xs) {
            h5 {
              font-size: 13px;
            }

            h4 {
              font-size: 15px;
            }
          }
        }
      }

      &-list {
        color: $body-color;
        margin-bottom: unset;

        i {
          color: $primary;
        }
      }
    }
  }

  &-news {
    .card {
      height: calc(100% - 1.5rem);
      margin-bottom: 1.5rem;
      border-radius: 0.5rem;

      &-body {
        @include media-breakpoint-down(xs) {
          padding: 0.5rem 1rem;
        }
      }

      &-frame {
        display: block;
        border-radius: 0.5rem;
      }

      &-img {
        min-height: 110px;
        object-fit: cover;
      }

      ul {
        float: right;
      }

      &-title {
        color: $body-color;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @include media-breakpoint-down(xs) {
          font-size: 11px;
          @include text-truncate;
        }
      }

      &-text {
        color: $body-color;
        font-weight: light;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @include media-breakpoint-down(xs) {
          font-size: 10px;
          margin-bottom: 0.5rem;
        }
      }

      &-date {
        @include media-breakpoint-down(xs) {
          font-size: 10px;
        }
      }

      &-hilight {
        background-color: $primary;

        ul li a {
          color: white;

          @include hover-focus {
            opacity: 0.8;
          }
        }

        .card {
          &-img {
            // height: 360px;
            object-fit: cover;
          }

          &-title,
          &-text,
          &-date {
            color: white;
          }

          &-text {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }

  &-banner {
    img {
      width: 100%;
    }
  }

  &-promotion {
    .card {
      height: calc(100% - 1.5rem);
      margin-bottom: 1.5rem;
      overflow: hidden;

      &-img {
        height: 330px;
        -o-object-fit: cover;
        object-fit: cover;

        &-overlay {
          position: absolute;
          top: 210px;
          background-color: rgba($primary, 0.8);
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-pack: justify;
          justify-content: space-between;
          @include transition($transition-base);
          .link-share {
            float: right;
            color: white;
            @include hover-focus {
              opacity: 0.8;
            }
          }
          &:hover {
            top: 0;
            @include transition($transition-base);
          }
        }
      }

      &-detail {
        margin: 0 -1.25rem -1.25rem;
        padding: 1.25rem;
        background-color: rgba($primary, 0.8);
        @include transition($transition-base);

        @include hover-focus {
          padding-bottom: 50%;
          @include transition($transition-base);
        }
      }

      &-subtitle {
        margin-bottom: 0.5rem;
        color: $dark;
      }

      &-title {
        margin-bottom: 0;
        color: white;
      }

      &-hilight {
        .card {
          &-img {
            &-overlay {
              position: absolute;
              top: 0;
              background-color: unset;
              padding: 2rem;
              display: unset;
              display: unset;
              -ms-flex-direction: unset;
              flex-direction: unset;
              -ms-flex-pack: unset;
              justify-content: unset;
              .link-share {
                float: none;
              }
            }
          }

          &-title {
            color: $primary;
          }

          &-text {
            color: $body-color;
          }

          &-list {
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
            color: $body-color;

            i {
              color: $primary;
              min-width: 1rem;
            }
          }

          &-detail {
            background-color: rgba(white, 0.8);
            padding: 1rem 1.5rem;
            margin: unset;
            height: 100%;
            display: block;

            @include hover-focus {
              background-color: rgba($primary, 0.8);
              @include transition($transition-base);

              .card {
                &-title,
                &-list i {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

.text-shadow {
  text-shadow: 0.1rem 0.1rem 0.25rem rgba(black, 0.5);
}

footer {
  ul li a {
    color: $dark;
  }

  .list-follow-us a {
    color: white;
  }

  .footer-bottom {
    @include media-breakpoint-down(md) {
      ul {
        li {
          font-size: 0.4375rem;

          &:first-child {
            font-size: 0.625rem;
          }
        }
      }
    }
  }
}

.popover-social {
  background-color: #ececec;
  padding: 0.5rem 1rem;
  border: unset;

  .arrow {
    &::before {
      border-top-color: transparent;
    }

    &::after {
      border-top-color: #ececec;
    }
  }

  ul {
    margin-bottom: unset;

    .fa {
      &-facebook {
        color: #3b5999;
      }

      &-envelope {
        color: #0084ff;
      }

      &-line {
        color: #00c300;
      }

      &-instagram {
        color: #e4405f;
      }

      &-twitter {
        color: #55acee;
      }
    }
  }
}

.page-link {
  border-bottom: 0.25rem solid darken(#ededed, 10%);
  margin-right: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.page-item {
  &:first-child {
    .page-link {
      @include border-left-radius(0);
    }
  }

  &:last-child {
    .page-link {
      @include border-right-radius(0);
    }
  }

  &.active .page-link {
    border-bottom-color: darken($primary, 10%);
  }

  &-prev .page-link,
  &-next .page-link {
    background-color: $primary;
    color: white;
    border-color: $primary;
    border-bottom-color: darken($primary, 10%);
  }

  &.disabled .page-link {
    border-bottom: 0.25rem solid darken(#b1b1b1, 10%);
  }
}

.event-slide {
  background: $light;
  text-align: center;
  padding: 0.75rem 0;

  a {
    color: $body-color;

    @include hover-focus {
      color: $primary;
    }
  }

  .slick-prev {
    &:before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-chevron-left);
      color: $primary;
    }
  }

  .slick-next {
    &:before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-chevron-right);
      color: $primary;
    }
  }
}

.filter-result {
  .list-view {
    .btn {
      border-radius: 10rem;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.5rem 0.375rem;
    }
  }

  .list-type {
    .btn {
      color: $body-color;

      &.active {
        color: $primary;
      }
    }
  }
}

.card-result {
  .card {
    height: calc(100% - 1.5rem);
    margin-bottom: 1.5rem;
    overflow: hidden;

    .slick-prev {
      left: 25px;

      [dir="rtl"] & {
        right: 25px;
      }
    }

    .slick-next {
      right: 25px;

      [dir="rtl"] & {
        left: 25px;
      }
    }

    &-tag {
      @include media-breakpoint-up(xl) {
        display: none;
      }
    }
  }
}

.list-view-last {
  .card {
    height: calc(100% - 1.5rem);
    margin-bottom: 1.5rem;
    overflow: hidden;

    h4 {
      color: $primary;
    }

    h5,
    h6 {
      color: $body-color;
    }

    p {
      color: $body-color;

      i {
        color: $primary;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    display: none;
  }
}

.search-mobile {
  .btn,
  .form-control {
    border: unset;
  }

  @include media-breakpoint-up(xl) {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .offcanvas-collapse {
    position: fixed;
    top: 0;
    /* Height of navbar */
    bottom: 0;
    left: -100%;
    width: 80%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
    z-index: $zindex-modal;

    .offcanvas-header {
      background-color: $primary;
      margin: 0 -1rem;
      padding: 1rem;
    }

    .navbar-nav {
      .nav-item {
        border-bottom: 1px solid #eee;
        padding: 1.5rem 1rem;
      }
    }
  }

  .offcanvas-collapse.open {
    left: 0%;
    visibility: visible;
    z-index: $zindex-modal;
  }
}

body {
  &::after {
    content: "";
    position: fixed;
    top: 0;
    right: -20%;
    width: 20%;
    height: 100%;
    background-color: rgba(black, 0.8);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: right, visibility;
    z-index: $zindex-modal-backdrop;
  }

  &.open-offcanvas {
    &::after {
      content: "";
      right: 0%;
    }
  }
}

@include media-breakpoint-up(xl) {
  .offcanvas-header {
    display: none;
  }
}

#footerLink {
  .card {
    &-header {
      background-color: white;
      color: $body-color;

      &:focus {
        color: $primary;
      }
    }
  }
}
