.btn-primary {
    color: color-yiq(theme-color("dark")); // returns `color: #fff`
}

.card-frame {
    position: relative;

    .card-tag {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: small;
        padding: .25rem 1rem;
    }
}