//
// Color system
//
$primary:#fd8103;
$secondary:#E5E5E5;
$danger:#FF0000;

//
// Links
//
$link-hover-decoration: none;

//
// Fonts
//
$font-family-base:'Prompt';

//
// Carousel
//
$dot-background-active:$primary;

$body-color:#0F0F0F;

//
// Pagination
//
$pagination-bg: #EDEDED;
$pagination-color: #757575;
$pagination-border-color: #EDEDED;

$pagination-hover-bg: darken($primary, 10%);
$pagination-hover-color: white;
$pagination-hover-border-color:darken($primary, 10%);

$pagination-disabled-bg: #B1B1B1;
$pagination-disabled-color:white;
$pagination-disabled-border-color: #B1B1B1;